[Desktop Entry]

# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application

# The application name.
Name=DataScratch

# Tooltip comment to show in menus.
Comment=An application to learn datascience.

# The path (folder) in which the executable is run
Path=/opt/datascratch

# The executable (can include arguments)
Exec=/opt/datascratch/datascratch

# The icon for the entry, using the name from `hicolor/scalable` without the extension.
# You can also use a full path to a file in /opt.
Icon=datascratch
